<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "1" 
        version     = "1.0.0" >
  <name>Tokoh Teladan</name>
  <description>Aplikasi Cerita Tokoh Teladan Alkitab</description>
  <author href="http://ramaditya.pe.hu" email="ramaditya.id@gmail.com">Ramaditya Satria</author>
  <content src="index.html"/>
  <icon src="icon.png" />
  <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>
  <plugin name="cordova-connectivity-monitor" source="npm" spec="~1.2.2"/>
  <plugin name="cordova-plugin-splashscreen" source="npm" spec="~4.0.0"/>
  <allow-navigation href="http://rama.xp3.biz/alkitab/*" />
  <access origin="http://rama.xp3.biz" />
<splash platform="android" qualifier="port-ldpi" src="load.png" />
<splash platform="android" qualifier="port-mdpi" src="load.png" />
<splash platform="android" qualifier="port-hdpi" src="load.png" />
<splash platform="android" qualifier="port-xhdpi" src="load.png" />
 
<splash platform="android" qualifier="land-ldpi" src="load.png" />
<splash platform="android" qualifier="land-mdpi" src="load.png" />
<splash platform="android" qualifier="land-hdpi" src="load.png" />
<splash platform="android" qualifier="land-xhdpi" src="load.png" />
</widget>
